
.weather-search{
    border: solid black 5px;
    max height; 40em;
    
}
#form.heading {
    font-size: 60px;
    font-color: purple;
}
#today{
    border: green;
    font-color: red bold;

}
#forecast {
    border: solid yellow;
}
.rowmt3 {
    border: purple;
    font-color: purple;
    border: solid red 20px;
    max-width: 100%;
}
.searchInput {
    border: purple;
    font-color: purple;
    border: solid red 20px;
    max-width: 100%;   
}
submit {
    border: solid red 20px;
    max-width: 100%;  
}
.weather-hr{
    border: solid red 20px;
    max-width: 100%;
}
.weather-search{
    min-height:50px; 
    /* min height: 50px */
    border: solid blue 50px
}
#listgroup{
    border: purple;
    font-color: purple;  
}
p {
    font-family: sans-serif, poppins;
    font-size: 15px;
    font-color: White;
    font: strong;
}
.parentContainer {
    display: flex;
    background-color: lightgrey;
    padding: 20px;
    margin: 20px;
    border: green solid 20px;
    height: flex;
    width: auto;
}
.flexChild {
    background-color: navy;
    padding: 10px;
    font-family: poppins;
    text-align: auto;
    font-color: white;
    margin: 10px;
    height: 250px;
}
.flexImage {
    display: flex;
    height: auto;
    width: auto;
    border: royalblue solid 10px;
    margin: yellow 10px;
    padding: cyan 10px;
}
/* #today
border; solid black 5px;
max height; 40cm; */

/* .forecastCard{
    border: 1px solid lightslategray;
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 6px;
} */